:root{
--main-color:rgba(0, 146, 71, 1);
--input-bg: rgba(247, 247, 247, 1);
--delete-color:rgba(204, 0, 0, 1);
}
body ,html{
    overflow-x: hidden;
}


/* auth layout styling */
.input-group{
    border: 2px solid #E0E2E7;
    border-radius: 8px;
}
.input-group:focus-within{
    border-color: var(--main-color);
}
.form-control:focus ,
.form-select:focus{
    border: none;
    box-shadow: none;
}
.auth-container{
    background-image: url(../src/assets/images/auth-bg.png);
    background-size: cover;
    background-position: center center;

}
.bg-overlay{
    background: linear-gradient( 45deg,rgb(47, 140, 96,0.7),rgba(0, 0, 0, 0.3));
}
.auth .login{
    width: fit-content;
}
.auth .input-group i,
.nav-item i{
    color: rgba(131, 145, 161, 1);
}
 form .btn-form,
 form .btn-form:focus,
 form .btn-form:hover,
 form .btn-form:active,
 form .btn:focus-visible{
    background-color: rgba(74, 163, 90, 1);
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
}

/* form .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: rgba(74, 163, 90, 1);
} */
 div .text-forget{
color:  rgba(74, 163, 90, 1);
}
.auth .form-control{
    border-left: 0 transparent;
    background-color: var(--input-bg);
}
.auth .pass-input{
    border-right: 0 transparent;
}
.auth  .input-group-text{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 2px solid gray;
    --bs-tertiary-bg:  var(--input-bg);


}
.auth .btn-outline-secondary{
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #dee2e6;
    background-color: var(--input-bg); 
    color: rgba(131, 145, 161, 1);
    --bs-btn-active-bg: var(--input-bg);
    --bs-btn-focus-shadow-rgb:none;
    --bs-btn-active-color:transparent;
    --bs-btn-active-border-color:none

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

/* side bar styling  */
.sidebar-container .sideBarLogo{
    width: 130px;
    height: 130px;
}
.sidebar-container .ps-sidebar-container{
    border-top-right-radius: 58px;
    height: 100vh;
    background-color: #1F263E;
    color: white;
}
.sidebar-container .ps-menu-label{
    font-weight: 600;
    font-size: 15px;
}
.sidebar-container .ps-sidebar-root {
    border: none;
}
.sidebar-container  .ps-menu-button:hover{
    background-color: rgba(0, 146, 77, 0.1) !important;
    border-left: 4px solid var(--main-color);
}


.sidebar-container  .sidelogoli .ps-menu-button:hover{
    background-color: transparent !important;
    border-left: none;
}
/* header-img + styling details */
.header-bg{
    background-image: url(../src/assets/images/Header.svg);
    background-size: cover;
    background-repeat: no-repeat;
  border-radius: 15px;
 }  
 .desc-header{
    max-width: 430px;
 }
 .header .title{
    font-family: "Roboto", serif;
    z-index: 1;

 }
 .header .title span{
    font-size: 32px;
    font-weight: 400;
 }
 .header .title h3{
    font-size: 40px;
    font-weight: 700;
 }
 @media  (max-width:768px) {
    .header .title h3,
    .header .title span{
        font-size: 20px;
    }
 }
.header .cicle1{
    left: 34px;
    width: 60px;
    top: 55px;
    z-index: -1;

 }

.header .cicle3{
    left: 52px;
 }


.btn-add{
    background-color: var(--main-color) ;
    border: none;
    border-radius: 8px;
    color: white;

    /* padding: 15px 56px; */
}

/* table styling */
.table{
        --bs-table-bg: transparent;
}


.table thead th{
    padding: 32px 40px;
    background-color: rgba(226, 229, 235, 1);

}
.table thead {
    border-radius: 20px;
}

.table thead th:first-child {
    border-radius: 15px 0 0 15px;
  }
  
  .table thead th:last-child {
    border-radius: 0 15px 15px 0;
  }

  .table thead th{
    font-family: "Poppins", serif;
    font-weight: 500;
  }
  .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-bg-type: transparent;
}

tbody tr.table-row.odd-row {
    background-color: rgba(255, 255, 255, 1);
}
tbody tr.table-row.even-row{
    background-color: rgba(248, 249, 251, 1);
}
.recipe-img{
    width: 56px;
    height: 56px;
    object-fit: cover;
}
@media (max-width:768px) {
    /* .table thead{
        font-size: 12px;
    } */
    .table {
        font-size: 9px;
    }
    .table thead th{
        padding: 8px;
    }
    .table>:not(caption)>*>* {
        padding: 0.3rem .2rem;
    }
    .recipe-img{
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
}




/* dropdown -(delete/view/update) styling */
.btn-dropdown{
    border: none;
}
.dropdown-menu {
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    --bs-dropdown-min-width: 126px !important;
}
.dropdown-menu::after {
    position: absolute;
    top: -9px;
    right: 28px;
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
}

.dropdown-menu i{
    color: var(--main-color);
    width: 13px;
}
.dropdown-item:active{
    background-color: #f8f9fa;
    color: #212529;
}
.dashboard-header{
    border-radius: 15px;
    background-color: rgba(240, 255, 239, 1);
    color:     rgba(31, 38, 62, 1)
    ;
}
.dashboard-header h4{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 20px;
}
.dashboard-header sp{
    font-size: 14px;
  
}

.dashboard-header span{
    color: var(--main-color);
}
/* modal styling  */

.modal .modal-header{
    border-bottom: none;
}
.modal-header{
    justify-content: space-between;
}
.modal-header .close-modal {
width: 32px;
height: 32px;
border-radius: 50%;
border: 1px solid  var(--delete-color);
cursor: pointer;


}

.modal-header .btn-closemodal{
color: var(--delete-color);
}
.modal-body {
    text-align: center;
}
.modal .modal-footer .delete-btn{
border:1px solid var(--delete-color);
color: var(--delete-color);
}

/* scroll styling */
.overflow-y-auto::-webkit-scrollbar {
    width: 15px;
  }
  
  .overflow-y-auto::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }
.loading{
    width: 4rem;
    height: 4rem;
}
.not-found{
    background-image: url(../src/assets/images/notfound.svg);
    /* background-size: 70%; */
    background-repeat: no-repeat;
background-position: 100%;
   height: 100vh;
   font-family: "Inter", sans-serif;

}
.not-found h3{
    font-weight: 700;
    font-size: 40px;
}
.not-found span{
    color: var(--main-color);
    font-size: 32px;

}
.not-found p{
    line-height: 24px;
  
}
.search-icon{
   background-color: transparent;

}

.receipe-inputs .input-group,
.recipes-data .input-group{
    border: 1px solid #E0E2E7;
    border-radius: 8px;
    /* color: rgba(163, 169, 182, 1);; */
}

.receipe-inputs .input-group:focus-within,
.recipes-data .input-group:focus-within,
.recipes-data textarea:focus{
    border-color: var(--main-color);
}

.receipe-inputs .form-control,
.receipe-inputs .input-group-text,
.receipe-inputs .form-control:focus,

.recipes-data input.form-control,
.recipes-data .input-group-text{
border: none;
}
.recipes-data input,
.recipes-data select.form-select,
.recipes-data .form-control:focus,
.recipes-data textarea  {
    background-color: rgba(247, 247, 247, 1) !important;
}
.recipes-data .btns-recipes{
width: fit-content;
}
.recipes-data .btn-cancel{
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 8px;
}
@media (max-width:768px) {
    input{
        font-size: 12px
    }
}